body{
    position:absolute;
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0%;
    font-family:Garamond, Century Gothic, Arial, sans-serif;
    line-height: 1.5;
}

#header{
    height:500px;
    width:100%;
    margin:auto;
    background-color:#81e1e3;
    background-position: center; 
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size:cover;
    text-align:center;
    vertical-align: middle;
    text-align: center;
}

#header h1{
    font-size:40px;
    vertical-align:bottom;
    position:absolute;
    left: 0;
    right: 0;
    top: 70%;
    padding-left:50px;
    padding-right:50px;
}

#header h2{
    font-size:30px;
    vertical-align:bottom;
    position:absolute;
    left: 0;
    right: 0;
    top: 82%;
    padding-left:50px;
    padding-right:50px;
    font-style:italic;
    color: #747070;
}

#circle {
    position:absolute;
    background-position:center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    margin:auto;
    display:inline-block;
    border-radius: 50%;
	width: 200px;
	height: 200px; 
    background-image:url(images/me2.jpg);
    border:4px solid black;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100%;
    background-size:cover;
}

.allelse{
    width:80%;
    margin:auto;
}

h2{
    color:#4d194d;
}

#content{
    width:700px;
    position:relative;
    left:220px;
    top:2em;
    font-size:15px;
}

button {
    height:80px;
    width:80px;
    display: inline-block;
    transition-duration: 0.4s;
    font-family:Century Gothic, Arial, sans-serif;
    font-size:2px;
    cursor: pointer;
    border-radius:50px;
    border: 2px solid black;
    background-position: center; 
    position:relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size:cover;
}

#btn1:hover{
    background-color:#00d223;
}

#btn2:hover{
    background-color:#00b8d2;
}

#btn3:hover{
    background-color:#7100d2;
}

#btn1.selected{
    background-color: #8bff68;
}

#btn2.selected{
    background-color: #68fffb;
}

#btn3.selected{
    background-color: #a268ff;
}
#btn1.selected:hover{
    background-color: #00d223;
}

#btn2.selected:hover{
    background-color: #00b8d2;
}

#btn3.selected:hover{
    background-color: #7100d2;
}

.unselected{
    background-color: white;
}

#work{
    display:none;
}

#projects{
    display:none;
}

#btn1{
    position: relative;
    top:100px;
    right:60px;
    background-image: url("images/bag-512.png");
    border:3px solid #00d223;
}

#btn2{
    position:relative;
    top:40px;
    background-image: url("images/person_1.png");
    border:3px solid #00b8d2;
}

#btn3{
    position: relative;
    top:100px;
    left:60px;
    background-image: url("images/080773-glossy-black-icon-business-folder1.png");
    border:3px solid #7100d2;
}

#btn4{
    width:75px;
    height:75px;
    position:fixed;
    left:93%;
    top:85%;
    display:none;
}

button:focus {
    background-color: #4CAF50;
    color: white;
}
*/

.block{
    position:relative;
    border:1px solid red;
}
.title{
    text-decoration:underline;
}



.date{
    float:right;
    display:inline;
    margin-top:10px;
}
ul{
    clear:both;
}

#footer{
    position:relative;
    margin-top:50px;
    background-color:#ffffff;
    height:2em;
    clear:both;
    width:100%;
}

#box{
    height:0;
    width:0;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
    border-bottom:20px solid black;
}

#Extracurriculars{
    clear:both;
    position:relative;
}

#Experiences ul .title{
    list-style-type:none;
    padding-left:0px;
    padding-top:0px;
    margin-top:-15px;
}

#Experiences li{
    padding-left:0px;
    padding-top:0px;
    margin-top:0px;
    clear:both;
}

.projbox{
    height: 250px;
    border:4px solid #9ed9f0;
    position:relative;
    border-radius:10px;
    margin-bottom:25px;
}

.slides{
    height:220px;
    width:300px;
    position:absolute;
    top:15px;
    left:40px;
    
}

.slides img{
    height:220px;
    width:300px;
    display:none;
    border-radius:10px;
}

.slides .active{
    display:block;
}

#left1:hover{
    cursor:pointer;
    border-right:20px solid black;
}

#left1:active{
    border-right:20px solid black;
}

#left2:hover{
    cursor:pointer;
    border-right:20px solid black;
}

#left2:active{
    border-right:20px solid black;
}

#left3:hover{
    cursor:pointer;
    border-right:20px solid black;
}

#left3:active{
    border-right:20px solid black;
}

#left4:hover{
    cursor:pointer;
    border-right:20px solid black;
}

#left4:active{
    border-right:20px solid black;
}

#left5:hover{
    cursor:pointer;
    border-right:20px solid black;
}

#left5:active{
    border-right:20px solid black;
}

#right1:hover{
    cursor:pointer;
    border-left:20px solid black;
}

#right1:active{
    border-left:20px solid black;
}
#right2:hover{
    cursor:pointer;
    border-left:20px solid black;
}

#right2:active{
    border-left:20px solid black;
}
#right3:hover{
    cursor:pointer;
    border-left:20px solid black;
}

#right3:active{
    border-left:20px solid black;
}
#right4:hover{
    cursor:pointer;
    border-left:20px solid black;
}

#right4:active{
    border-left:20px solid black;
}
#right5:hover{
    cursor:pointer;
    border-left:20px solid black;
}

#right5:active{
    border-left:20px solid black;
}



#right1{
    height:0;
    width:0;
    border-left:20px solid rgba(0, 0, 0, .5);
    border-right:20px solid transparent;
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:310px;
    
}

#left1{
    height:0;
    width:0;
    border-left:20px solid transparent;
    border-right:20px solid rgba(0, 0, 0, .5);
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:-50px;
}
#right2{
    height:0;
    width:0;
    border-left:20px solid rgba(0, 0, 0, .5);
    border-right:20px solid transparent;
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:310px;
    
}

#left2{
    height:0;
    width:0;
    border-left:20px solid transparent;
    border-right:20px solid rgba(0, 0, 0, .5);
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:-50px;
}
#right3{
    height:0;
    width:0;
    border-left:20px solid rgba(0, 0, 0, .5);
    border-right:20px solid transparent;
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:310px;
    
}

#left3{
    height:0;
    width:0;
    border-left:20px solid transparent;
    border-right:20px solid rgba(0, 0, 0, .5);
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:-50px;
}
#right4{
    height:0;
    width:0;
    border-left:20px solid rgba(0, 0, 0, .5);
    border-right:20px solid transparent;
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:310px;
    
}

#left4{
    height:0;
    width:0;
    border-left:20px solid transparent;
    border-right:20px solid rgba(0, 0, 0, .5);
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:-50px;
}
#right5{
    height:0;
    width:0;
    border-left:20px solid rgba(0, 0, 0, .5);
    border-right:20px solid transparent;
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:310px;
    
}

#left5{
    height:0;
    width:0;
    border-left:20px solid transparent;
    border-right:20px solid rgba(0, 0, 0, .5);
    border-bottom:20px solid transparent;
    border-top:20px solid transparent;
    position:absolute;
    top:85px;
    left:-50px;
}

.textstuff{
    height:220px;
    width:285px;
    position:absolute;
    top:15px;
    left:390px;
}

#ContactInfo table th{
    height:40px;
    width:20px;
    padding:auto;
    color:white;
}

#ContactInfo table{
    padding-top:20px;
}

#ContactInfo img{
    display:absolute;
    height:50px;
    width:50px;
    margin-left:15px;
    margin-right:15px;
}

.projbox h4{
    margin-bottom:-10px;
    margin-top:-2px;
}