html{
  background-color: #fffcff;
}

h1{
  font-size: 40px;
  font-family: 'Mansalva', cursive;
  color:#8333FF;
}

h2{
  font-size: 25px;
  font-family: 'Mansalva', cursive;
}

h3{
  font-size: 30px;
  font-family: 'Mansalva', cursive;
  margin-bottom: 20px;
}

h4{
  font-size: 25px;
  text-emphasis: bold;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: -5px;
}

p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

#Avatar {
  margin-top:70px;
  border-radius: 50%;
  height:220px;
  margin-left: auto;  /* Magic! */
  margin-right:auto;
  max-width: 100%;
  max-height: 100%;
}

#topleft{
  float:left;
  width:30%;

}

#topright{
  float:left;
  width:70%;

}

#content{
  padding-top: 100px;
  width: 60%; 
  margin:0 auto;
}

#image{
  margin:0 auto;
}

.fab{
  margin-right: 10px;
}

.fab:hover{
  color:orangered !important;
}

.subcontent{
  padding-top:50px;
  clear:both;
  height: 100px;
}

.projicon{
  margin-left: 40px;
  border-radius:0%;
  height: 180px;
  width: 180px
}

.projicon1{
  margin-left: 40px;
  border-radius:0%;
  height: 160px;
  width: 150px
}


#topleft1{
  float:left;
  width:30%;
  margin:0;
  padding:0;

}

#topright1{
  float:left;
  width:60%;
  margin-left: 50px;
  margin-top:-30px;
  padding:0;

}

#footer{
  clear:both;
  height:100px;
}

.container{
  clear:both;
  padding-top: 40px;
}

@media only screen and (max-width: 1200px){
  #content{
    width: 90%; 
  }
}

@media only screen and (max-width: 800px){
  #topleft{
    width: 100%;
    margin:0 auto;
  }

  #topright{
    width: 100%;
    margin: 0px;
  }

  #topright1{
    width: 100%;
    margin: 0px;
  }

  .container{
    margin: 0px;
    padding: 0px;
  }

  #content{
    padding-top: 0px;
    width: 90%; 
  }

  .projicon{
    display: none;
    margin: 0px;
  }

  .projicon1{
    display: none;
    margin: 0px;
  }
}
