*:focus{outline:none; !important}
body{
    font-family: 'Garamond';
    line-height: 50px;
    background-color: #ffffee;
}

#header{
    background-color: black;
    height: 100px;
    position: relative;
    width: 150%;
    right: 10px;
    top: -25px;
    color:white;
    
}

